{% extends 'adm/adm_layout.njk' %}

{% block head %}
<title>AdminFoodfy - Nova Receita</title>
{% endblock %}

{% block content %}
        <form  method="POST" action="/admin/recipes" enctype="multipart/form-data">

        {% include 'adm/adm_fields.njk' %}

        </form>
    <script src="/scripts/addbuttonscript.js"></script>
{% endblock %}