<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
    <title>Foodfy</title>
    {% endblock %}
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header class="header-home">
        <span><img src="/Assets/logo.png" alt="" srcset=""></span> <div class="links"><a href="/sobre">Sobre</a> <a href="/receitas">Receitas</a></div>
    </header>


    {% block content %}
    {% endblock %}

 
<footer>
    <p>Todos direitos reservados, receitas Foodfy.</p>
</footer>

<script src="/linkscript.js"></script>

</body>
</html>
