{% extends 'layout.njk' %}

    {% block head %}
    <title>Foodfy - {{recipe.title}}</title>
    {% endblock %}


    {% block content %}

    <div class="recipeid">

     <div class="recipe"> 
        <div class="recipe-image" style="background: url({{recipe.image}}) no-repeat center center / cover">
        </div>
        <div class="recipe-name"> 
            <p>{{recipe.title}}</p>
        </div>
        <div class="recipe-info">
            <p>{{recipe.author}}</p>
        </div>
    </div>

    <div class="recipeid_content">

        <div class="recipeid_title" id='1'>
        <h2>Ingredientes</h2> <span class="button hide" id="1">Esconder</span>
        </div>
        <ul class="recipe-hide-show">
            {% for ingredient in recipe.ingredients %}
            <li><p>{{ingredient}};</p></li>
            {% endfor %}
        </ul>
        
        <div class="recipeid_title" id='2'>
        <h2>Modo de preparo</h2> <span class="button hide" id="2">Esconder</span>
        </div>
        <ul class="recipe-hide-show">
            {% for prep in recipe.preparation %}
            <li><p>{{prep}};</p></li>
            {% endfor %}
        </ul>

        <div class="recipeid_title" id='3'>
        <h2>Informações adicionais</h2> <span class="button hide" id="3">Esconder</span>
        </div>

        <p class="recipe-hide-show">{{recipe.information}}</p>

    </div>

    </div>

    

    {% endblock %}


{% block scripts %}
    <script src="/scripts/hidescript.js"></script>
{% endblock %}

