@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


*{
    margin: 0; 
    padding: 0;
    border: 0;
}

body{
    color: #111111;
    font-family: 'Roboto', sans-serif;
}

.header-home{
    display: flex;
    align-items: center;
    margin-top: 36px;
    margin-left: 230px;
    margin-bottom: 30px;
}

.header-home span{
    margin-right: 122px;
    height: 32px;
    width: 94px;
    cursor: pointer;
}


header .links{
    word-spacing: 30px;

}

header .links a{
    font-size: 16px;
    color: #111111;
    text-decoration: none;
    cursor: pointer;
    line-height: 19px;
}

header .links a.active{
    font-weight: bold;
}

.home {
    display: flex;
    margin: 0 auto;
    max-width: 940px;
    background: #FBDFDB;
    border-radius: 30px;
    align-items: center;
}

.home-content{
    margin-left: 60px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.home h1{
    font-weight: 700px;
    margin-bottom: 10px;
    font-size: 32px;
}

.home-content p{
    font-size: 18px;
    color: #000000;
    opacity: 0.7;
    line-height: 28px;
}


.home-image{
    position: relative;
    right: -25%;
    bottom: 0px;
    margin-top: 60px;
}


.home-image img{
width: 100%;
height: 100%;
}

section{
    margin-top: 50px;
}

.second-header{
    margin: 0 auto;
    max-width: 940px;
    margin-bottom: 20px;
}

.second-header h2{
    font-size: 24px;
    color: #111111;
}

.recipes{
    max-width: 940px;
    width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.recipe-image{
    width: 300px;
    height: 140px;
    border-radius: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.recipe-name{
    margin-bottom: 5px;
    cursor: pointer;
    color: #111111;
    font-size: 18px;
    font-weight: bold;
}

.recipe-info{
    margin-bottom: 10px;
    color: #777777;
    font-size: 14px;
}

footer{
    display: flex;
    background-color: #eeeeee;
    height: 62px;
    margin-top: 50px;
    width: 100%;
}

footer p{
    margin: auto;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
}


/* === MODAL === */

.modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay .modal{
    display: flex;
    background-color: white;
    width: 40%;
    height: 50%;
    margin: 25vh auto;
    border-radius: 16px;
}

.modal-overlay .close-modal{
    margin: auto;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 16px;
    color: #999999;
}

/* === MODAL ACTIVATE === */

.modal-overlay.active{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 1;
    visibility: visible;
}


/* === ABOUT PAGE === */

.about_container{
    margin: 50px auto;
    width: 940px;
}

.about_container h2{
    font-size: 20px;
    margin: 20px 0px;
}

.about_container h2:first-child{
    font-size: 24px;
}

.about_container p{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}


/* === RECIPES CONTAINER === */

.grid_container{
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 940px;
}

/* === INDIVIDUAL RECIPES === */

.recipeid{
    margin: 50px auto;
    justify-content: center;
    text-align: center;
    width: 940px;
}

.recipeid .recipe-name{
    font-size: 36px;
}

.recipeid .recipe-info{
    font-size: 20px;
    color: #777777;
}

.recipeid .recipe .recipe-image{
    height: 280px;
    margin-bottom: 50px;
    width: 100%;
}

.recipeid .recipeid_content {
    text-align: left;
}

.recipeid .recipeid_content p{
    font-size: 18px;
    color: #444444;
    line-height: 28px; 
}


.recipeid .recipeid_title h2{
    display: inline-flex;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 24px;
}

.recipeid .button{
    cursor: pointer;
    font-size: 12px;
    color: #999999;
    text-transform: uppercase;
}

.recipeid .recipeid_content .active{
    display: none;
}

/* === CREATE NEW RECIPE === */

.admin-header{
    background-color: black;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 80px;
}

.admin-header span{
    margin-left: 230px;
    height: 27px;
    width: 91px;
    cursor: pointer;
}

.create_recipe .title{
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    margin-bottom: 30px;
}

.create_recipe .subtitle{
    font-size: 16px;
    color: #111111;
    font-weight: bold;
    margin-bottom: 10px;
}

.create_recipe input[type="url"]:placeholder-shown{
    font-size: 18px;
}

.create_recipe{
    margin: 50px auto;
    width: 940px;
}

.create_recipe .item{
    margin-bottom: 30px;
}

.create_recipe .item input,
.create_recipe textarea{
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    width: 100%;
    height: 49px;
    font-size: 20px;
    border-radius: 4px;
}

.create_recipe .ingredient,
.create_recipe .preparation{
    margin-bottom: 5px;
}

.create_recipe .add_button{
    display: inline-block;
    font-size: 16px;
    color: #6558c3;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
}

.create_recipe textarea[name="recipe-info"]{
    height: 260px;
}

.create_recipe input[type="submit"],
.first-delete{
    float: right;
    color: white;
    background-color: #6558c3;
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 4px;
    margin-left: 5px;
    font-size: 14px;
    display: inline-block;
}

.first-delete{
    background-color: maroon;
}

/* EDIT FORM */

#delete-button button,
#delete-button span{
    color: white;
    background-color: maroon;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 32px;
    text-align: center;
    font-size: 14px;
}

.delete-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    visibility: hidden;
    opacity: 0;
}

.delete-overlay.active{
    opacity: 1;
    visibility: visible;
}

.delete-modal{
    display: flex;
    background-color: white;
    width: 30%;
    height: 18%;
    margin: 10vh auto;
    border-radius: 20px;
    justify-content: center;
}
.delete-modal h2{
    margin: 40px auto;
    font-size: 24px;
}

.delete-modal .delete-buttons{
    display: flex;
    justify-content: center;
}

.delete-modal #delete-button span.close-modal{
    margin-left: 16px;
    background-color: #6558c3;
}

/* === ADM INDEX === */

.adm_index .recipes{
    max-width: 940px;
    width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/*.adm_index .recipe-image,
.adm_index .aside-info{
    display:inline-block
}*/

.adm_index .recipe{
    display: flex;
    align-content: center;
}

.adm_index .recipe-image{
    width: 172px;
    height: 80px;
    border-radius: 8,57px;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 0px;
}

.adm_index span.linkButton{
    font-size: 14px;
    color: #6558c3;
    font-weight: bold;
    cursor: pointer;
}

.show-title{
    display: block;
    margin: 0 auto;
    width: 940px;
    padding: 5px;
    margin-top: 50px;
}

.show-title p{
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #111111;
    float: left;
}

.show-title button.button{
    float: right;
    color: white;
    background-color: #6558c3;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
}