<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
    <title>Admin Foodfy</title>
    {% endblock %}
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <header class="admin-header">
        <span><img src="/Assets/logoadm.png" onclick="homeLink()" alt="" srcset=""></span>
    </header>


    {% block content %}
    {% endblock %}

</body>
</html>

<script>
    function homeLink(){
        window.location.href = "/admin/recipes"
    }
</script>