{% extends 'adm/adm_layout.njk' %}

    {% block head %}
    <title>AdminFoodfy - {{recipe.title}}</title>
    {% endblock %}


    {% block content %}
        <div class="show-title">
            <p>Receita: {{recipe.title}}</p> <button class="button" onclick="openLink()" >Editar receita</button>
        </div>
    <div class="recipeid">
     <div class="recipe"> 
        <div class="recipe-image" style="background: url({{recipe.image}}) no-repeat center center / cover">
        </div>
        <div class="recipe-name"> 
            <p>{{recipe.title}}</p>
        </div>
        <div class="recipe-info">
            <p>{{recipe.author}}</p>
        </div>
    </div>

    <div class="recipeid_content">

        <div class="recipeid_title" id='1'>
        <h2>Ingredientes</h2>
        </div>
        <div class="recipe-hide-show">
            {% for ingredient in recipe.ingredients %}
            <p>- {{ingredient}};</p>
            {% endfor %}
        </div>
        
        <div class="recipeid_title" id='2'>
        <h2>Modo de preparo</h2>
        </div>
        <div class="recipe-hide-show">
            {% for prep in recipe.preparation %}
                <p>- {{prep}};</p>
            {% endfor %}
        </div>

        <div class="recipeid_title" id='3'>
        <h2>Informações adicionais</h2>
        </div>

        <p class="recipe-hide-show">{{recipe.information}}</p>

    </div>
    </div>

    <script>
        function openLink(){
        const id = {{recipe.id}} - 1

        window.location.href = `/admin/edit/${id}`
        }
    </script>

    {% endblock %}


