   <div class="create_recipe">

        <p class="title">Criando receita</p> <input type="submit" value="Salvar receita">

        <div class="item">
             <p class="subtitle">Título da receita</p>
             <input type="text" name="title" value="{{recipe.title}}">
        </div>

        <div class="item">
             <p class="subtitle">Autor</p>
             <input type="text" name="author" value="{{recipe.author}}">
        </div>

        <div class="item">
             <p class="subtitle">imagem da receita</p>
             <input type="url" name="image" placeholder="Insira uma URL válida" value="{{recipe.image}}">
        </div>
         
        <div class="item">
            <div id="ingredients">
             <div class="subtitle">Ingredientes</div>
                <div class="ingredient">
                    <input type="text" name="ingredients[]" value="{{recipe.ingredients}}"> 
                </div>
            </div>
             <span class="add_ingredient add_button">Adicionar novo ingrediente</span>
        </div>
        
        <div class="item">
            <div id="preparations">
             <p class="subtitle">Modo de preparo</p>
                <div class="preparation">
                    <input type="text" name="preparation[]" value="{{recipe.preparation}}" placeholder="Passo a passo">
                </div>
            </div>
             <span class="add_step add_button">Adicionar novo passo</span>
        </div>

        <div class="item">
             <p class="subtitle">Informações adicionais</p>
             <textarea name="information" cols="30" rows="10"></textarea>
        </div>

    </div>

