{% extends 'adm/adm_layout.njk' %}

    {% block head %}
    <title>AdminFoodfy - AdminIndex</title>
    {% endblock %}


    {% block content %}

<section class="adm_index"> 
    <div class="second-header"><h2>Gerencia receitas</h2></div>
<div class="recipes">

    {% for recipe in recipes %}

    <div class="recipe" id="{{ loop.index }}"> 
        <div class="recipe-image" id="link" style="background: url({{recipe.image}}) no-repeat center center / cover">
        </div>
        <div class="aside-info">
            <div class="recipe-name" id="link">
                <p>{{recipe.title}}</p>
             </div>
            <div class="recipe-info">
                <p>{{recipe.author}}</p>
            </div>
            <span class="linkButton" id="link">Visualizar</span>
        </div>

    </div>

    {% endfor %}

</div>
</section>

<script>
    function checkRecipe(){
    
    }
</script>

<script src="/scripts.js"></script>

    {% endblock %}


