@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


:root{
    --primary-color: #6558c3;
}

*{
    margin: 0; 
    padding: 0;
    border: 0;
}

body{
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    color: #111111;
    font-family: 'Roboto', sans-serif;

}

a{
    text-decoration: none;
}

a.button,
button{
    font-size: 16px;
    background: #6558C3;
    border-radius: 4px;
    color: white;

    cursor: pointer;
}

.header-home{
    display: flex;
    align-items: center;
    width: 940px;
    margin: 36px auto 30px;
}

.header-home span{
    margin-right: 122px;
    height: 32px;
    width: 94px;
    cursor: pointer;
}


header .links{
    display: flex;
    align-items: center;
    gap: 30px;

}

header .links a{
    font-size: 16px;
    color: #111111;
    text-decoration: none;
    cursor: pointer;
    line-height: 19px;
}

header .links a.active{
    font-weight: bold;
}

header .header-content{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.header-content form input{
    height: 100%;
    padding: 0 16px;

    border-radius: 4px;
    border: 1px solid #DDDDDD;

    background: white;
    font-size: 14px;
    color: #999999;
}

.search-button{
    padding: 0 16px;
    height: 100%;
}

footer{
    display: flex;
    background-color: #eeeeee;
    height: 62px;
    margin-top: 50px;
    width: 100%;

    align-self: flex-end;
    justify-self: center;

}

footer p{
    margin: auto;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
}

/* -------------------------- CONTENT*/

.home {
    display: flex;
    margin: 0 auto;
    width: 940px;
    background: #FBDFDB;
    border-radius: 30px;
    align-items: center;
}

.home-content{
    margin-left: 60px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.home h1{
    font-weight: 700px;
    margin-bottom: 10px;
    font-size: 32px;
}

.home-content p{
    font-size: 18px;
    color: #000000;
    opacity: 0.7;
    line-height: 28px;
}


.home-image{
    position: relative;
    right: -25%;
    bottom: 0px;
    margin-top: 60px;
}


.home-image img{
width: 100%;
height: 100%;
}

section{
    margin-top: 50px;
}

.second-header{
    margin: 0 auto;
    max-width: 940px;
    margin-bottom: 20px;
}

.second-header h2{
    font-size: 24px;
    color: #111111;
}

.recipes{
    max-width: 940px;
    width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    flex: 1;
}

.recipe-image{
    width: 300px;
    height: 140px;
    border-radius: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.recipe-name{
    margin-bottom: 5px;
    cursor: pointer;
    color: #111111;
    font-size: 18px;
    font-weight: bold;
}

.recipe-info{
    margin-bottom: 10px;
    color: #777777;
    font-size: 14px;
}




/* === MODAL === */

.modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay .modal{
    display: flex;
    background-color: white;
    width: 40%;
    height: 50%;
    margin: 25vh auto;
    border-radius: 16px;
}

.modal-overlay .close-modal{
    margin: auto;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 16px;
    color: #999999;
}

/* === MODAL ACTIVATE === */

.modal-overlay.active{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 1;
    visibility: visible;
}


/* === ABOUT PAGE === */

.about_container{
    margin: 50px auto;
    width: 940px;
}

.about_container h2{
    font-size: 20px;
    margin: 20px 0px;
}

.about_container h2:first-child{
    font-size: 24px;
}

.about_container p{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}


/* === RECIPES CONTAINER === */

.grid_container{
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 940px;
}

/* ----------------------- PAGINATION */

.search_results{
    width: 940px;
    margin: 0 auto;
}

.pagination{
    margin-top: 8px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.pagination a{
    color: #6558C3;
    transition: filter 0.2s;
}

.pagination a:hover{
    text-decoration: underline;
    filter: brightness(0.3);
}



/* === INDIVIDUAL RECIPES === */

.recipeid{
    margin: 50px auto;
    justify-content: center;
    text-align: center;
    width: 940px;
}

.recipeid .recipe-name{
    font-size: 36px;
}

.recipeid .recipe-info{
    font-size: 20px;
    color: #777777;
}

.recipeid .recipe .recipe-image{
    height: 280px;
    margin-bottom: 50px;
    width: 100%;
}

.recipeid .recipeid_content {
    text-align: left;
}

.recipeid .recipeid_content p,
.recipeid .recipeid_content li,
.recipeid_content ol{
    font-size: 18px;
    color: #444444;
    line-height: 28px; 
}

.recipeid_content ol li{
    list-style: decimal;
    list-style-position: inside;
}

.recipeid_content ul li{
    list-style: none;
}

.recipeid_content ul:nth-child(4) li{
    list-style: decimal;
    list-style-position: inside;
}


.recipeid .recipeid_title h2{
    display: inline-flex;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 24px;
}

.recipeid .button{ 
    cursor: pointer;
    font-size: 12px;
    color: #999999;
    text-transform: uppercase;
}

.recipeid .recipeid_content .active{
    display: none;
}


/* --------------------- CHEFS Listagem*/

.chefs{
    width: 940px;
    margin: 0 auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    flex: 1;
}

.chefs .chef-image{
    width: 64px;
    height: 64px;
    border-radius: 50%;

    object-fit: cover;
}

.chef-name p{
    font-size: 18px;
}


.chefs .chef{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.chefs .chef-image{
    align-self: center;
}

.chefs .aside-info{
    align-self: center;
}

.chefs span{
    font-size: 14px;
    color: #666666;
}

.chefs .chef-name{
    margin-bottom: 10px;
    line-height: 18px;
}

