{% extends 'layout.njk' %}

{% block head %}
    <title>Foodfy - Chefs</title>
{% endblock %}

{% block content %}

    <div class="chefs">

    {% for chef in chefs %}

    <div class="chef" id="{{ chef.id }}"> 
        <img class="chef-image" src="{{chef.avatar_url}}" alt="{{chef.name}}">

        <div class="aside-info">
            <div class="chef-name">
                <p>{{chef.name}}</p>
             </div>
            <span class="chef-recipes">{{chef.total_recipes}} receitas</span>
        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}

{% block scripts %}

 <!-- <script src="/scripts/chefscript.js"></script> -->

{% endblock %}